.dataTables_filter{
    float:left !important;
}
.custom-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

/* Gizlenmiş checkbox */
.custom-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider */
.custom-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: 0.4s;
    border-radius: 30px;
}

/* Slider'ın içindeki yuvarlak düğme */
.custom-switch-slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .custom-switch-slider {
    background-color: green;
}

input:checked + .custom-switch-slider:before {
    transform: translateX(30px);
}
